<div class="dashboard-wrap">
  <div class="dashboard-a">
    <div nz-row class="row" *ngFor="let row of dashboard1">
      <ng-container *ngFor="let item of row">
        <div nz-col nzSpan="6" class="col label">{{item.label}}</div>
        <div nz-col nzSpan="6" class="col">{{dashboard1Data[item.key]}}</div>
      </ng-container>
    </div>
  </div>
  <div class="dashboard-b">
    <div nz-row class="row" *ngFor="let row of dashboard2">
      <ng-container *ngFor="let item of row">
        <div nz-col nzSpan="4" class="col label">{{item.label}}</div>
        <div nz-col nzSpan="4" class="col"></div>
      </ng-container>
    </div>
  </div>
</div>