// 默认样式
.footer-mode-default {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 表格样式
.footer-mode-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}