.search-box {
  padding: 8px;

  input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-button-group {
    display: flex;
    justify-content: space-between;

    button {
      width: 90px;
    }
  }
}
