<div class="_content">
  <nz-table #smallTable nzShowPagination nzShowSizeChanger nzShowQuickJumper [nzLoading]="loading"
    [nzShowTotal]="rangeTemplate" nzSize="middle" [nzFrontPagination]="false" [nzData]="results" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions"
    (nzPageIndexChange)="page()" (nzPageSizeChange)="page()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox nzShowRowSelection [nzSelections]="selections" [(nzChecked)]="isAllChecked"
          [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th>Username</th>
        <th nzCustomFilter>
          Display Name
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
            #DisplaynameDropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="DisplaynameDropdown.nzVisible" nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="body.username" />
              <div class="search-button-group">
                <button nz-button nzSize="small" nzType="primary" (click)="page()"> Search </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown>
        </th>
        <th nzShowSort nzSortKey="age">Email</th>
        <th>Created Date</th>
        <th nzCustomFilter nzWidth="120px" nzAlign="center">
          Operation
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzTableFilter #OperationDropdown>
            <i nz-icon nzType="down" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="OperationDropdown.nzVisible" nz-dropdown></i>
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="showModal()">New</li>
              <li nz-menu-item (click)="delete()"> Batch Delete </li>
              <li nz-menu-item>
                2nd menu item
              </li>
            </ul>
          </nz-dropdown>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of smallTable.data" appHoverClass="elevation-text-z4">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[row[selectionId]]" [nzDisabled]="row.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ row.username }}</td>
        <td>{{ row.displayName }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.createdDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td nzAlign="center">
          <i nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTitle="Edit"
            (click)="navigate('/main/system-mgt/user-mgt/user', [row.username])"></i>
          <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTitle="Delete" (click)="delete([row.username])"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }} - {{ range[1] }} of {{ total }} items
</ng-template>

<nz-modal [(nzVisible)]="isModalVisible" nzTitle="User Modal" (nzOnCancel)="handleModalCancel()"
  (nzOnOk)="handleModalOk()" [nzOkLoading]="isModalLoading">
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm($event, form.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>User name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="username" placeholder="Please enter user name here" />
        <nz-form-explain
          *ngIf="(form.get('username')?.dirty && form.get('username')?.errors) || form.get('username')?.pending">
          <ng-container *ngIf="form.get('username')?.hasError('required')">
            Please input user name!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="email" placeholder="Please enter display name here" />
        <nz-form-explain *ngIf="form.get('email')?.dirty && form.get('email')?.errors">
          <ng-container *ngIf="form.get('email')?.hasError('required')">
            Please input user email!
          </ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('email')">
            The input is not valid email!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Role</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select formControlName="role" nzPlaceHolder="Please select user role here">
          <nz-option nzValue="male" nzLabel="male"></nz-option>
          <nz-option nzValue="female" nzLabel="female"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('role')?.dirty && form.get('role')?.errors) || form.get('role')?.pending">
          <ng-container *ngIf="form.get('role')?.hasError('required')">
            Please select user role!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>