:host {
  transition: all 0.3s;
  position: relative;
}

.light-theme {
  background-color: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba($color: #eee, $alpha: 0.8);
}

.header-mode-inline {
  height: inherit;
  overflow: hidden;

  .breadcrumbs-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 48px;

    > *:last-child {
      display: flex;
      align-items: center;
    }

    .button-group-wrap {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .advance-wrap {
    padding: 12px;
    background-color: white;
  }
}
