<div class="_content">
  <nz-table #smallTable nzShowPagination nzShowSizeChanger nzShowQuickJumper [nzLoading]="loading"
    [nzShowTotal]="rangeTemplate" nzSize="middle" [nzFrontPagination]="false" [nzData]="results" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzCustomFilter>
          Menu
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
            #MenuNameDropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="MenuNameDropdown.nzVisible" nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="body.name"
                (keyup.enter)="filter('name')" />
              <div class="search-button-group">
                <button nz-button nzSize="small" nzType="primary" (click)="filter()"> Search </button>
                <button nz-button nzSize="small" (click)="reset('name')">Reset</button>
              </div>
            </div>
          </nz-dropdown>
        </th>
        <th>Parent Menu</th>
        <th>Url</th>
        <th>Type</th>
        <th>Order</th>
        <th>Authority</th>
        <th nzCustomFilter nzWidth="120px" nzAlign="center">
          Operation
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzTableFilter #OperationDropdown>
            <i nz-icon nzType="down" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="OperationDropdown.nzVisible" nz-dropdown></i>
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="showModal()"> New Menu </li>
              <li nz-menu-item (click)="delete()"> Batch Delete </li>
              <li nz-menu-item>
                2nd menu item
              </li>
            </ul>
          </nz-dropdown>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of smallTable.data">
        <ng-container *ngFor="let row of mapOfExpandedData[item.id]">
          <tr *ngIf="(row.parent && row.parent.expand) || !row.parent" hoverClass="elevation-text-z4">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[row.id]" [nzDisabled]="row.disabled"
              (nzCheckedChange)="refreshStatus()"></td>
            <td [nzIndentSize]="row.level * 20" [nzShowExpand]="!!row.children" [(nzExpand)]="row.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[row.id], row, $event)">{{ row.name }}</td>
            <td>{{ row.parent?.name }}</td>
            <td>{{ row.url }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.order }}</td>
            <td>{{ row.auth }}</td>
            <td nzAlign="center">
              <i nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTitle="Edit" (click)="showModal(row)"></i>
              <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTitle="Delete"
                (click)="delete([row.username])"></i>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Menu Modal" (nzOnCancel)="handleModalCancel()"
  (nzOnOk)="handleModalOk()" [nzOkLoading]="isModalLoading">
  <form nz-form [formGroup]="menuForm" (ngSubmit)="submitForm($event, menuForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="name" placeholder="Please enter menu name here" [(ngModel)]="menu.name" />
        <nz-form-explain *ngIf="
          (menuForm.get('name')?.dirty && menuForm.get('name')?.errors) ||
          menuForm.get('name')?.pending
        ">
          <ng-container *ngIf="menuForm.get('name')?.hasError('required')">
            Please input menu name!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">Parent</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-tree-select formControlName="parent" [nzDefaultExpandedKeys]="expandKeys" [nzNodes]="nodes" nzShowSearch
          nzPlaceHolder="Root menu" [(ngModel)]="menu.parent">
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select formControlName="type" [(ngModel)]="menu.type" nzPlaceHolder="Please select menu type">
          <nz-option nzValue="菜单" nzLabel="菜单"></nz-option>
          <nz-option nzValue="目录" nzLabel="目录"></nz-option>
          <nz-option nzValue="操作" nzLabel="操作"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="
          (menuForm.get('type')?.dirty && menuForm.get('type')?.errors) ||
          menuForm.get('type')?.pending
        ">
          <ng-container *ngIf="menuForm.get('type')?.hasError('required')">
            Please input menu type!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngTemplateOutlet="MenuTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="FolderTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="OperationTemplate"></ng-container>
  </form>
</nz-modal>

<ng-template #MenuTemplate>
  <ng-container *ngIf="menu.type === '菜单'">
    <form nz-form [formGroup]="menuForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">URL</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="url" nz-input placeholder="Please enter menu url here" [(ngModel)]="menu.url" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Auth</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="auth" nz-input placeholder="Please enter menu auth here" [(ngModel)]="menu.auth" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Order</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="order" nz-input placeholder="Please enter menu order here" [(ngModel)]="menu.order" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Icon</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="icon" nz-input placeholder="Please enter menu icon here" [(ngModel)]="menu.icon" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</ng-template>

<ng-template #FolderTemplate>
  <ng-container *ngIf="menu.type === '目录'">
    <form nz-form [formGroup]="menuForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Order</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="order" nz-input placeholder="Please enter menu order here" [(ngModel)]="menu.order" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Icon</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="icon" nz-input placeholder="Please enter menu icon here" [(ngModel)]="menu.icon" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</ng-template>

<ng-template #OperationTemplate>
  <ng-container *ngIf="menu.type === '操作'">
    <form nz-form [formGroup]="menuForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">URL</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="url" nz-input placeholder="Please enter menu url here" [(ngModel)]="menu.url" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Auth</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input formControlName="auth" nz-input placeholder="Please enter menu auth here" [(ngModel)]="menu.auth" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</ng-template>