<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="displayName">{{ 'USER.INFO.DISPLAY_NAME' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input id="displayName" type="text" nz-input formControlName="displayName" />
      <nz-form-explain *ngIf="formGroup.get('displayName')?.dirty && formGroup.get('displayName')?.errors">
        {{ 'USER.FORM_REQUIRED.DISPLAY_NAME' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="email">{{ 'USER.INFO.EMAIL' | translate }}
    </nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input id="email" type="text" nz-input formControlName="email" />
      <nz-form-explain *ngIf="formGroup.get('email')?.dirty && formGroup.get('email')?.errors">
        {{ 'USER.FORM_REQUIRED.EMAIL' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="roles" nzRequired>{{ 'USER.INFO.ROLE' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select id="roles" formControlName="roles">
        <nz-option [nzValue]="item.name" [nzLabel]="item.name" *ngFor="let item of roleList"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="formGroup.get('roles')?.dirty && formGroup.get('roles')?.errors">
        {{ 'USER.FORM_REQUIRED.ROLE' | translate }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>