<div class="_content">
  <nz-table #smallTable nzShowPagination nzShowSizeChanger nzShowQuickJumper [nzLoading]="loading"
    [nzShowTotal]="rangeTemplate" nzSize="middle" [nzFrontPagination]="false" [nzData]="results" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox nzShowRowSelection [nzSelections]="selections" [(nzChecked)]="isAllChecked"
          [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nzCustomFilter>
          Role name
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
            #DisplaynameDropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="DisplaynameDropdown.nzVisible" nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="body.username" />
              <div class="search-button-group">
                <button nz-button nzSize="small" nzType="primary" (click)="page()"> Search </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown>
        </th>
        <th>Status</th>
        <th>Menus</th>
        <th nzCustomFilter nzWidth="120px" nzAlign="center">
          Operation
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzTableFilter #OperationDropdown>
            <i nz-icon nzType="down" class="ant-table-filter-icon"
              [class.ant-table-filter-open]="OperationDropdown.nzVisible" nz-dropdown></i>
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="delete()"> Batch Delete </li>
              <li nz-menu-item>
                2nd menu item
              </li>
            </ul>
          </nz-dropdown>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of smallTable.data" hoverClass="elevation-text-z4">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.status }}</td>
        <td>
          <nz-tag *ngFor="let item of data.menus">{{item.name}}</nz-tag>
        </td>
        <td nzAlign="center">
          <i nz-icon nzType="edit" nzTheme="outline" nz-tooltip nzTitle="Edit" (click)="showModal(row)"></i>
          <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip nzTitle="Delete" (click)="delete([data.key])"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Menu Modal" (nzOnCancel)="handleModalCancel()"
  (nzOnOk)="handleModalOk()" [nzOkLoading]="isModalLoading">
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm($event, form.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Role</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="name" placeholder="Please enter menu name here" [(ngModel)]="role.name" />
        <nz-form-explain *ngIf="
          (form.get('name')?.dirty && form.get('name')?.errors) ||
          form.get('name')?.pending
        ">
          <ng-container *ngIf="form.get('name')?.hasError('required')">
            Please input role name!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Menus</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-tree-select
          formControlName="menus"
          [nzNodes]="menus"
          nzShowSearch
          nzCheckable
          nzPlaceHolder="Please select"
          [(ngModel)]="role.menus"
        >
        </nz-tree-select>
        <nz-form-explain *ngIf="
          (form.get('menus')?.dirty && form.get('menus')?.errors) ||
          form.get('menus')?.pending
        ">
          <ng-container *ngIf="form.get('menus')?.hasError('required')">
            Please select menus!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }} - {{ range[1] }} of {{ total }} items
</ng-template>