<nz-layout>
  <nz-sider class="elevation-z4" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="200"
    [nzTrigger]="triggerTemplate">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.children">
          <li nz-submenu nzOpen="true">
            <span title>
              <i nz-icon [type]="menu.icon"></i>
              <span class="nav-text">{{menu.name}}</span>
            </span>
            <ul>
              <li nz-menu-item *ngFor="let child of menu.children" [routerLink]="child.url"
                [class.ant-menu-item-selected]="child.active">
                <span title>
                  <i nz-icon [type]="child.icon"></i>
                  <span class="nav-text">{{child.name}}</span>
                </span>
              </li>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="!menu.children">
          <li nz-menu-item (click)="router.navigate([menu.url])" [class.ant-menu-item-selected]="menu.active">
            <span title>
              <i nz-icon [type]="menu.icon"></i>
              <span class="nav-text">{{menu.name}}</span>
            </span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div>
        <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      </div>
      <span class="flex-spacer"></span>
      <div>
        <ng-container>
          <i nz-icon appToggleFullscreen *ngIf="!isFullscreen" nzType="fullscreen" nzTheme="outline"
            (click)="isFullscreen = true"></i>
          <i nz-icon appToggleFullscreen *ngIf="isFullscreen" nzType="fullscreen-exit" nzTheme="outline"
            (click)="isFullscreen = false"></i>
        </ng-container>
        <nz-dropdown nzOverlayClassName="cdk-overlay-user-dropdown" nzTrigger="click" nzPlacement="bottomRight">
          <nz-avatar nz-dropdown nzIcon="user" nzSize="large" nzSrc=""></nz-avatar>
          <ul nz-menu nzSelectable>
            <li nz-menu-item class="user-info">
              <div>Admin</div>
              <div>fengchao.z@outlook.com</div>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item>User Profile</li>
            <li nz-menu-item (click)="logout()">Logout</li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <ng-container *ngFor="let item of breadcrumb">
          <nz-breadcrumb-item *ngIf="!item.url">{{item.label}}</nz-breadcrumb-item>
          <nz-breadcrumb-item *ngIf="item.url">
            <span appHoverClass="link" [routerLink]="item.url">{{item.label}}</span>
          </nz-breadcrumb-item>
        </ng-container>
      </nz-breadcrumb> -->
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>