<app-layout>
  <app-header mode="inline" (resize)="resize($event)">
    <div class="button-group">
      <button nz-button nzType="link" (click)="addRole()">{{ 'COMMON.NEW' | translate }}</button>
    </div>
  </app-header>
  <ng-container class="content">
    <div #tableWrap class="table-wrap">
      <nz-table #table nzShowPagination="false" [nzLoading]="isLoading" nzSize="middle"
        [nzFrontPagination]="isFrontPagination" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions" [nzScroll]="scroll">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzWidth="5%" nzShowCheckbox [(nzChecked)]="isAllChecked" [nzIndeterminate]="isIndeterminate"
              (nzCheckedChange)="checkAll($event)"></th>
            <th nzWidth="5%" nzAlign="center">{{ 'COMMON.NUMBER' | translate }}</th>
            <th nzWidth="10%" nzCustomFilter>
              {{ 'ROLE.INFO.ROLE' | translate }}
              <app-table-column-filter mode="input" [(value)]="body.name" (submited)="getData()">
              </app-table-column-filter>
            </th>
            <th nzWidth="20%">{{ 'ROLE.INFO.MENUS' | translate }}</th>
            <th nzWidth="10%" nzShowFilter [nzFilters]="listOfStatus" (nzFilterChange)="filter($event)">
              {{ 'ROLE.INFO.STATUS' | translate }}</th>
            <th nzWidth="15%" nzAlign="center">
              {{ 'ROLE.INFO.MODIFIER' | translate }}</th>
            <th nzWidth="15%" nzAlign="center">
              {{ 'ROLE.INFO.MODIFED_DATE' | translate }}</th>
            <th nzWidth="20%" nzCustomFilter nzWidth="120px" nzAlign="center">
              {{ 'COMMON.OPERATION' | translate }}
              <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" nzTableFilter #OperationDropdown>
                <i nz-icon nzType="down" class="ant-table-filter-icon"
                  [class.ant-table-filter-open]="OperationDropdown.nzVisible" nz-dropdown></i>
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="delete()"> Batch Delete </li>
                  <li nz-menu-item>
                    2nd menu item
                  </li>
                </ul>
              </nz-dropdown>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of table.data; let i = index">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[row[selectionId]]" [nzDisabled]="row.disabled"
              (nzCheckedChange)="refreshStatus()"></td>
            <td nzAlign="center">{{ i + 1 }}</td>
            <td>{{ row.name | translate }}</td>
            <td>
              <app-table-column-editor mode="tree-select" [external]="{options: menus}"
                [(value)]="mapOfEditableRowCache[row[selectionId]].data.menus"
                [editable]="mapOfEditableRowCache[row[selectionId]].editable">
              </app-table-column-editor>
              <!-- <nz-tag *ngFor="let item of row.menus">{{item.name}}</nz-tag> -->
            </td>
            <td>
              <app-table-column-editor mode="input" [(value)]="mapOfEditableRowCache[row[selectionId]].data.status"
                [editable]="mapOfEditableRowCache[row[selectionId]].editable">
              </app-table-column-editor>
            </td>
            <td nzAlign="center">{{ row.modifier | translate }}</td>
            <td nzAlign="center">{{ row.modifiedDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <!-- 操作 -->
            <td nzAlign="center">
              <!-- 非编辑状态按钮 -->
              <ng-container *ngIf="!mapOfEditableRowCache[row[selectionId]].editable">
                <button nz-button [nzSize]="'small'" nzType="link" (click)="enableEdit(row)">
                  {{ 'COMMON.EDIT' | translate }}
                </button>
                <nz-divider nzType="vertical" style="margin: 0;"></nz-divider>
                <a nz-popconfirm [nzTitle]="'ROLE.CONFIRM.DELETE' | translate" (nzOnConfirm)="delete(row)">
                  <button nz-button [nzSize]="'small'" nzType="link">
                    {{ 'COMMON.DELETE' | translate }}
                  </button>
                </a>
              </ng-container>
              <!-- 编辑状态按钮 -->
              <ng-container *ngIf="mapOfEditableRowCache[row[selectionId]].editable">
                <button nz-button [nzSize]="'small'" nzType="link" (click)="handleEditSubmit(row, i)">
                  {{ 'COMMON.SAVE' | translate }}
                </button>
                <nz-divider nzType="vertical" style="margin: 0;"></nz-divider>
                <a nz-popconfirm [nzTitle]="'ROLE.CONFIRM.EDIT_CANCEL' | translate"
                  (nzOnConfirm)="handleEditCancel(row, i)">
                  <button nz-button [nzSize]="'small'" nzType="link">
                    {{ 'COMMON.CANCEL' | translate }}
                  </button>
                </a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <app-footer mode="table" [showPagination]="true" [total]="total" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [menusTemplateRef]="footerMenus" (pageIndexChanged)="pageIndexChange($event)"
    (pageSizeChanged)="pageSizeChange($event)"></app-footer>
  <ng-template #footerMenus>
    <ul nz-menu nzMode="horizontal" class="action-menus-ul">
      <li nz-menu-item>
        <button [nzLoading]="downloading" [disabled]="!(isIndeterminate || isAllChecked)" nz-button nzType="link"
          (click)="download()">
          <i nz-icon nzType="download" nzTheme="outline"></i>
          {{ 'MENU.BUTTON.DOWNLOAD' | translate }}
        </button>
      </li>
    </ul>
  </ng-template>
</app-layout>