@import './assets/css/elevation.scss';

/* You can add global styles to this file, and also import other style files */
$primary-color: #1890ff;
$info-color: #1890ff;
$success-color: #52c41a;
$processing-color: #1890ff;
$error-color: #f5222d;
$highlight-color: #f5222d;
$warning-color: #faad14;
$normal-color: #d9d9d9;

$component-background: white;

._content {
  position: relative;
  min-height: calc(100% - 48px);
  margin: 24px;
  background-color: $component-background;

  nz-table {
    td i.anticon {
      font-size: 18px;
      margin-right: 6px;
      cursor: pointer;
    }
  }

  nz-tabset {

    .ant-tabs-bar,
    .ant-tabs-content {
      padding: 0 24px;
    }
  }
}

// main.component.html
.cdk-overlay-user-dropdown {
  ul {
    min-width: 120px;
  }

  li:not(.user-info) {
    padding: 0 12px;
    line-height: 40px;
  }
}


// 表格样式
app-layout .table-wrap {
  height: 100%;
  overflow: hidden;
}

// app-footer 组件样式
.footer-mode-custom,
.footer-mode-table {
  // 表格底部菜单栏样式
  .action-menus-ul {
    li {
      padding: 0;

      button {
        height: -webkit-fill-available;
      }
    }
  }
}

// 滚动条样式
.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background: #e6d8d8;
  }
}




