nz-form-item {
  margin-bottom: 0;

  nz-form-label {
    width: 100px;
  }
  nz-form-control {
    flex: 1;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.submit-button {
  width: 100%;
  height: 100%;
}