<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="200" [nzTrigger]="triggerTemplate">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.pid != 0">
          <li nz-submenu>
            <span title>
              <i nz-icon [type]="menu.icon"></i>
              <span class="nav-text">{{menu.name}}</span>
            </span>
            <ul>
              <li nz-menu-item *ngFor="let child of menu.children" [routerLink]="child.url">{{child.name}}</li>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="menu.pid == 0">
          <li nz-menu-item (click)="router.navigate([menu.url])" [class.ant-menu-item-selected]="menu.active">
            <span title>
              <i nz-icon [type]="menu.icon"></i>
              <span class="nav-text">{{menu.name}}</span>
            </span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <span class="flex-spacer"></span>
      <div>
        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
          <nz-avatar nz-dropdown nzIcon="user" nzSize="large" nzSrc=""></nz-avatar>
          <ul nz-menu nzSelectable style="min-width: 120px;">
            <li nz-menu-item style="padding: 0 12px; line-height: 40px;">
              <a style="margin: 0; padding: 0;">User Profile</a>
            </li>
            <li nz-menu-item style="padding: 0 12px; line-height: 40px;">
              <a style="margin: 0; padding: 0;" (click)="logout()">Logout</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>