<app-layout [showFooter]="false">
  <app-header mode="inline" [breadcrumbs]="breadcrumbs" (resize)="resize($event)">
  </app-header>

  <ng-container class="content">
    <nz-card class="_content" [nzBordered]="false" [nzBodyStyle]="{ padding: 0, height: '100%' }">
      <nz-tabset>
        <nz-tab nzTitle="基本信息">
          <ng-template nz-tab>
            <app-user-detail-basic></app-user-detail-basic>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </ng-container>
</app-layout>