@import 'src/styles.scss';

._content {
  padding: 0;
  background-color: transparent;

  >[nz-row] {
    justify-content: initial;
    align-items: initial;
  }
}

.core,
.other {
  height: 100%;
  background-color: $component-background;
}
